body {
    font-family: Arial, Helvetica, sans-serif
}

.checkbox {
    height: 20px;
    width: 20px;
    background-color: blue;
    border: 1px solid #333; /* Optional border */
    border-radius: 4px; /* Optional border-radius for rounded corners */
}

.chkGroup {
    display: flex;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin: 10px;
    width: 400px;
}

.smallBox {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.smallBox:hover {
    background-color: lightgray;
}

.mainButton {
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #007bff; /* Blue color, you can change this */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mainButton:hover {
    background-color: #0056b3;
}

.mainButton:disabled {
    background-color: #ddd; /* Light gray for disabled state */
    color: #666; /* Darker text color for disabled state */
    cursor: not-allowed;
}